

#yin-yang { 
    width: 96px; 
    height: 48px; 
    background: #eee; 
    border-color: red; 
    border-style: solid; 
    border-width: 2px 2px 50px 2px; 
    border-radius: 100%; 
    position: relative; 
    animation:rotation 2.5s linear infinite;
    -webkit-animation:rotation 2.5s linear infinite;
    -moz-animation:rotation 2.5s linear infinite;
    } 
    #yin-yang:before { 
    content: ""; 
    position: absolute; 
    top: 50%; 
    left: 0; 
    background: #eee; 
    border: 18px solid red; 
    border-radius: 100%; 
    width: 12px; 
    height: 12px; 
    } 
    #yin-yang:after { 
    content: ""; 
    position: absolute; 
    top: 50%; 
    left: 50%; 
    background: red; 
    border: 18px solid #eee; 
    border-radius:100%; 
    width: 12px; 
    height: 12px; 
    }

    @keyframes rotation {
        0% {transform:rotate(0deg);}
        100% {transform:rotate(-360deg);}
    }
    @-webkit-keyframes rotation {
        0% {-webkit-transform:rotate(0deg);}
        100% {-webkit-transform:rotate(-360deg);}
    }
    @-moz-keyframes rotation {
        0% {-moz-transform:rotate(0deg);}
        100% {-moz-transform:rotate(-360deg);}
    }
    